@use "../abstracts" as *;

.header {
  position: relative;

  padding: 5.5%;

  overflow: hidden;
  background-size: cover;
  background-position: 0% 100%; /* Beispiel: Bild 10% nach oben verschieben */
  background-image: url("../images/modal/cupraHome3.jpg");

  @media (max-width: 391px) {
    background-image: url("../images/modal/cuprahome4.jpg");
  }
}

.header__slope {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 500vw; /* Die Höhe des Elements */
  z-index: 1;

  background-image: linear-gradient(
    rgba(22, 73, 75, 0),
    rgba(24, 109, 113, 0),
    rgba(28, 90, 101, 0),
    rgba(34, 72, 85, 0),
    rgba(35, 55, 66, 0),
    rgba(32, 39, 46, 1)
  );
  background-repeat: no-repeat;
  background-position: center center; /* Der Verlauf startet in der Mitte */
  background-size: cover; /* Der Verlauf wird auf das gesamte Element angewendet */
}

.header__container {
  @include make-container();
  @media (max-width: 391px) {
    height: 25rem;
  }
}

.header__heading-container {
  border-radius: 1.618rem;
  position: relative;
  margin: 0px auto;
  padding: 1.618rem;
}

// Drive Dionamic
.header__heading-main {
  white-space: nowrap;
  font-size: 5rem;
  text-align: center;
  color: rgb(174, 209, 216);
  border-radius: 1.618rem;
  text-transform: uppercase;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 1;
  
  white-space: nowrap;
  position: relative;
  margin: 0px auto;

  animation-name: header__heading-main-font-weight;
  animation-delay: 0.75s;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  @media (max-width: $breakpoint-md) {
    font-size: 5rem;
  }

  @media (max-width: 1450px) {
    font-size: 2rem;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 2rem;
  }
}
@keyframes header__heading-main-font-weight {
  0% {
    opacity: 0;
    font-weight: 100;
  }
  100% {
    opacity: 1;
    font-weight: 700;
  }
}

.header__heading-sub {
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  color: rgb(89, 132, 139);
  text-transform: uppercase;
  text-shadow: 0 0 0.5rem black;
  position: relative;
  z-index: 100;


  margin-top: 35rem;

  @media (max-width: 391px) {
    font-size: 0.7rem;
    margin-top: 15rem;
    margin-left: 0rem;
  }
}
