@use "./variables" as *;

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin make-container() {
  max-width: 68%;
  margin: 0px auto;
  border-radius: 1.618rem;

  padding: 1.618rem;
   background-color:  #202d35;



  box-shadow: 
  8px  8px 16px rgba(0, 0, 0, 0.5),/* Dunkler äußerer Schatten */ 
 -8px -8px 16px rgba(255, 255, 255, 0.1); /* Heller äußerer Schatten */

  @include clearfix;

  @media (max-width: 400px) {
    max-width: 100%;
    padding: 0 0.5rem;
    padding-bottom: 1rem;
  }

  @media (max-width: $breakpoint-lg) {
  }
}
