@use "./variables" as *;

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin make-container() {
  max-width: 68%;
  margin: 3rem auto;
  border-radius: 1.618rem;
  padding: 1.618rem;
  background-color: $color-eigengrau;
  z-index: 10;
  

  @include clearfix;

  @media (max-width: 400px) {
    max-width: 100%;
    padding: 0 0.5rem;
    padding-bottom: 1rem;
  }

  @media (max-width: $breakpoint-lg) {
  }
}
