* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Century Gothic", sans-serif;

  input,
  select {
    font-family: inherit;
  }

  .background {
    background-image: linear-gradient(
      to top,
      #2d4654,
      #2a3e4a,
      #273641,
      #242e37,
      #20272e
    );
  }
}
