@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Century Gothic", sans-serif;
  overflow-x: hidden;

  input,
  select {
    font-family: inherit;
  }
  body {
    background-color: black;

    
  }
}
