* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Century Gothic", sans-serif;

  input,
  select {
    font-family: inherit;
  }

    background-color: 
      #202d35
    ;
  
}
